# torch==1.10.0+cu111
torch==2.4.1+cu121
torchvision==0.19.1+cu121
torchaudio==2.4.1+cu121
# torchvision==0.11.0+cu111
# torchaudio==0.10.0
# -f https://download.pytorch.org/whl/torch_stable.html
timm==0.4.12
numpy==1.26.4
matplotlib
tqdm
scipy
imgaug
opencv-python
hub
pandas
wandb
gdown
fastapi 
uvicorn 
sqlalchemy
pydantic